
lab1/build/Lab1.dir/Debug/Lab1.tlog/link.read.1.tlog
*.tlog
*.obj
*.pdb
lab1/build/Lab1.vcxproj.filters
lab1/build/Lab1.dir/Debug/Lab1.log
lab1/build/Lab1.dir/Debug/Lab1.exe.recipe
lab1/build/Debug/Lab1.exe
lab1/build/CMakeFiles/generate.stamp.list
lab1/build/CMakeFiles/generate.stamp
lab1/build/CMakeFiles/TargetDirectories.txt
lab1/build/CMakeFiles/generate.stamp.depend
lab1/build/CMakeFiles/cmake.check_cache
lab1/build/CMakeFiles/3.20.0-rc3/x64/Debug/VCTargetsPath.recipe
lab1/build/.vs/TND004-Lab-1/v16/Browse.VC.db
*.db-shm
*.opendb
*.ipch
*.db-wal
*.filters
*.user
*.vcxproj
*.txt
*.cmake
*.exe
*.recipe
*.log
*.rule
*.cpp
*.bin
*.db
lab1/build/.vs/TND004-Lab-1/v16/.suo
*.ilk
*.sln
